<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persianas RP</title>
</head>
<body>
    <form action="/", method="post">
        <label for ="Ancho">Ancho:</label>
        <input id="Ancho" type="text" name="Ancho" placeholder="Ancho (metros)">
        <label for ="Alto">Alto:</label>
        <input id="Alto" type="text" name="Alto" placeholder="Alto (metros)">
        <label for="E-mail">E-mail:</label>
        <input id="E-mail" type="email" name="E-mail" placeholder="Tu E-mail">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>